{% extends 'base.html' %}
{% load bootstrap5 %}


{% block sidebar %}
    <div class="col-md-9 mb-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Фильтры поиска</h5>
                        <form method="get">
                            {% csrf_token %}
                            {{ filters.form.as_p }}
                            {% buttons %}
                                <button type="submit" class="btn btn-primary">Поиск</button>
                            {% endbuttons %}
                        </form>
                    </div>
                </div>
            </div>
{% endblock %}

{% block content %}
    <div class="row row-cols-1 row-cols-md-3 g-4">
        {% for manga in mangas %}
            <div class="col">
                <div class="card h-100">
                    <img src="{{ manga.photo.url }}" class="card-img-top" alt="{{ manga.title }} " style="width: 250px; height: 350px;">
                    <div class="card-body">
                        <h5 class="card-title">{{ manga.title }}</h5>
                        <p class="card-text">Год выпуска: {{ manga.release_year }}</p>
                        <p class="card-text">Жанры:
                            {% for genre in manga.genres.all %}{{ genre.name }}{% if not loop.last %},
                            {% endif %}{% endfor %}</p>
                        <p class="card-text">Статус выпуска: {% if manga.status_title == 'ongoing' %}
                            Продолжается{% elif manga.status_title == 'completed' %}Завершен{% endif %}</p>
                        <p class="card-text">Статус перевода: {% if manga.status_translation == 'ongoing' %}
                            Продолжается{% elif manga.status_translation == 'completed' %}Завершен{% endif %}</p>
                        <a href="{% url 'manga_detail' manga.id %}" class="btn btn-primary">Читать</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}

{% block navigation %}
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            {% for p in paginator.page_range %}
            <li class="page-item"><a class="page-link" href="?page={{ p }}">{{ p }}</a></li>
            {% endfor %}
        </ul>
    </nav>
{% endblock %}